.Health {
  background: rgba(0, 82, 255, 0.15);
  color: #0052ff;
}
.Health .tag {
  background: rgba(0, 82, 255, 0.2);
}

.Education {
  background: rgba(255, 68, 74, 0.15);
  color: #ff444a;
}
.Education .tag {
  background: rgba(255, 68, 74, 0.2);
}

.Food {
  background: rgba(248, 113, 71, 0.15);
  color: #f87147;
}
.Food .tag {
  background: rgba(248, 113, 71, 0.2);
}
.Clothing {
  background: rgba(121, 194, 63, 0.15);
  color: #79c23f;
}
.Clothing .tag {
  background: rgba(121, 194, 63, 0.2);
}
