@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
.active {
  text-decoration: underline !important;
  color: #ff444a !important;
  background: none !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

nav ul li {
  font-size: 18px;
}

.Health-donate {
  background-color: #0052ff;
}
.Health-donate:hover {
  background-color: #0544cc;
}
.Education-donate {
  background-color: #ff444a;
}
.Education-donate:hover {
  background-color: #962b2e;
}
.Clothing-donate {
  background-color: #79c23f;
}
.Clothing-donate:hover {
  background-color: #64ab29;
}
.Food-donate {
  background-color: #f87147;
}
.Food-donate:hover {
  background-color: #a54224;
}

/* card style  */
.Health {
  background: rgba(0, 82, 255, 0.15);
  color: #0052ff;
}
.Health .tag {
  background: rgba(0, 82, 255, 0.2);
}

.Education {
  background: rgba(255, 68, 74, 0.15);
  color: #ff444a;
}
.Education .tag {
  background: rgba(255, 68, 74, 0.2);
}

.Food {
  background: rgba(248, 113, 71, 0.15);
  color: #f87147;
}
.Food .tag {
  background: rgba(248, 113, 71, 0.2);
}
.Clothing {
  background: rgba(121, 194, 63, 0.15);
  color: #79c23f;
}
.Clothing .tag {
  background: rgba(121, 194, 63, 0.2);
}

.donation-color,
.total-donation-color {
  display: inline-block;
  width: 80px;
  height: 10px;
}
.donation-color {
  background-color: #00c49f;
}
.total-donation-color {
  background-color: #ff444a;
}
